* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #555;
}

body {
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 100%;
}
header, footer, main, section, div, article, aside, form {
    content-visibility: auto;
}

ul {
    list-style: none;
}
a {
    color: #fff;
}

/* ----------------
-----Hero--------
----------------*/
     
#hero {
    background: gray;
    color: #fff;
    text-align: center;


    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    flex-grow: 1;
    flex-shrink: 1;

    background-image: url("images/image1.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    background-blend-mode: lighten;

    min-height: 100vh;
  }
  #hero h2 {
    margin: 20px 20px;
    border: 2px solid black;
    color: #000;
  }

  #hero h1 {
    font-size: 24px;
    text-shadow: 1px 1px #000;
    margin-bottom: 50px;
  }

  #hero h1 {
    font-size: 65px;
    margin-bottom: 20px;
  }

  #hero a.btn {
    color: #fff;
    background-color: #131633;
    text-decoration: none;
    padding: 20px 48px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    opacity: 1;
    border: 2px solid #fff;
  }

  #hero a.btn:hover {
    background-color: #2196f3;
  }

  @media (max-width: 800px) {
    #hero {
        min-height: 50vh;
       
    }

    #hero h1 {
        font-size: 35px;
    }
    #hero h2 {
        font-size: 30px;
    }
    #hero a.btn {
        padding: 20px 38px;
    }
  }

/* ----------------
-----Footer--------
----------------*/

footer {
    background-color: #131833;
    color: #fff;
    text-align: center;

    background: linear-gradient(to bottom, #131840, #000 100%);
    padding: 60px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255,255,255, .6);
    margin-bottom: 8px;
}

footer ul {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    font-size: 36px;
    cursor: pointer;
}

@media (max-width: 800px) {
    footer {
        padding: 80px 20px;
    }
}